<div class="cardContainer">
    <div class="meal-wrapper">
        <div class="cardMeal-search">
            <h2 class="cardTitle">Find Recipes for Your Ingredients</h2>
            <div class = "meal-search-box">
                <input type = "text" class= "cardSearch-control" placeholder="Enter an ingredient" id="search-input">
                <button type="submit" class = "cardSearch-btn cardBtn" id="cardSearch-btn">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </div>
        <div class="meal-result">
            <h2 class = "title">Your search results:</h2>
            {{#if recipes.length}}
                <div id = "meal">
                    {{#each recipes as |recipe|}}
                    <div class="container" style="max-width: 600px; margin: 10px auto; float: left;">
                        <div class="row" style="border: 1px solid black; border-radius: 10px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); padding: 10px; display: flex;">
                            <div class="col-md-4">
                                <img class="recipe-image" src="{{recipe.link_to_image}}" alt="Recipe Image" style="max-width: 100%; height: auto;">
                            </div>
                            <div class="col-md-8" style="padding-left: 10px;">
                                <div style="display: flex; flex-direction: column; height: 100%;">
                                    <h3 style="margin-bottom: 10px;"><a href="/recipe/{{recipe.id}}">{{recipe.name}}</a></h3>
                                    <p style="flex-grow: 1;">{{recipe.description}}</p>
                                    <p style="margin-top: auto;">Created by {{recipe.user.name}} on {{format_date recipe.date_created}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            {{/if}}
        </div>
    </div>
</div>

