<div class="cardContainer">
    <div class="meal-wrapper">        
        <div class="cardMeal-search">
            <h3 class="cardTitle textcol">Find Recipes for Your Ingredients</h3>
            
            <form class="form search-form">
                <div class = "form-group meal-search-box">
                    <input type = "text" class= "form-input mr-2 border cardSearch-control" placeholder="Enter an ingredient" id="search-input">
                    <button type="submit" class = "btn mr-2 border border-dark textcol fw-bold fst-italic" id="cardSearch-btn">
                        Search
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container py-4">
    <div class="row">
        <div class="col-md-8">
            <div class="trending-box lightcolbg p-4 border rounded">
                <h3 class="mb-3 textcol ">Your search results:</h3>
                <div class="animate__animated animate__fadeInRight row">
                    {{#each recipes as |recipe| }}
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <img class="card-img-top" src="{{recipe.link_to_image}}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title"><a href="/recipe/{{recipe.id}}">{{recipe.name}}</a></h5>
                                <p class="card-text">{{recipe.description}}</p>
                                <p>Created by {{recipe.user.name}} on {{format_date recipe.date_created}}</p>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>

<script src="./js/browseRecipes.js"></script>