<div class="cardContainer">
  <div class="meal-wrapper">
    <div class="cardMeal-search">
      <h2 class="cardTitle">Find Recipes for Your Ingredients</h2>
      <form class="form search-form">
        <div class="form-group meal-search-box">
          <input type="text" class="form-input cardSearch-control" placeholder="Enter an ingredient" id="search-input">
          <button type="button" class="cardSearch-btn cardBtn" id="cardSearch-btn">
            Search
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
      </form>
    </div>
    <div class="meal-result">
      <h2 class="title">Your search results:</h2>
      <div id="meal">
        {{#if recipes.length}}
        {{#each recipes as |recipe|}}
        <!-- Added the "animate__fadeInRight" class here- LAUREN -->
        <div class="container{{#if buttonClicked}} animate__fadeInRight{{/if}}"
          style="max-width: 600px; margin: 10px auto; float: left;">
          <div
            style="border: 1px solid black; border-radius: 10px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); padding: 10px; display: flex;">
            <div class="col-md-4">
              <img class="recipe-image" src="{{recipe.link_to_image}}" alt="Recipe Image"
                style="max-width: 100%; height: auto;">
            </div>
            <div class="col-md-8" style="padding-left: 10px;">
              <div style="display: flex; flex-direction: column; height: 100%;">
                <h3 style="margin-bottom: 10px;"><a href="/recipe/{{recipe.id}}">{{recipe.name}}</a></h3>
                <p style="flex-grow: 1;">{{recipe.description}}</p>
                <p style="margin-top: auto;">Created by {{recipe.user.name}} on {{format_date recipe.date_created}}
                </p>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
        {{else}}
        <p>No recipes found.</p>
        {{/if}}
      </div>
    </div>
  </div>
</div>

<!--end template-->
<!--begin ANIMATE functionality - LAUREN-->

<script src="./js/browseRecipes.js"></script>
<script>
  // browseRecipes.js
  document.addEventListener('DOMContentLoaded', function () {
    let buttonClicked = false;
    const searchButton = document.getElementById('cardSearch-btn');

    // Add click event listener search button
    searchButton.addEventListener('click', function () {
      // Toggle
      buttonClicked = !buttonClicked;

      // Get all the recipe containers
      const recipeContainers = document.querySelectorAll('.container');

      // Apply the animation class based on the buttonClicked state
      recipeContainers.forEach((container) => {
        container.classList.toggle('animate__fadeInRight', buttonClicked);
      });
    });
  });
</script>

