{{!-- 
{{#each recipes as |recipe| }}
<div class="container" style="max-width: 600px; margin: 10px auto; float: left;">
    <div class="row" style="border: 1px solid black; border-radius: 10px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); padding: 10px; display: flex;">
        <div class="col-md-4">
            <img class="recipe-image" src="{{recipe.link_to_image}}" alt="Recipe Image" style="max-width: 100%; height: auto;">
        </div>
        <div class="col-md-8" style="padding-left: 10px;">
            <div style="display: flex; flex-direction: column; height: 100%;">
                <h3 style="margin-bottom: 10px;"><a href="/recipe/{{recipe.id}}">{{recipe.name}}</a></h3>
                <p style="flex-grow: 1;">{{recipe.description}}</p>
                <p style="margin-top: auto;">Created by {{recipe.user.name}} on {{format_date recipe.date_created}}</p>
            </div>
        </div>
    </div>
</div>
{{/each}} --}}


<div class="container py-4">
    <div class="row">
        <div class="col-md-8">
            <div class="trending-box lightcolbg p-4 border rounded">
                <h3 class="mb-3 textcol">Today's Featured!</h3>
                <div class="row">
                    {{#each recipes as |recipe| }}
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <img class="card-img-top" src="{{recipe.link_to_image}}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title"><a href="/recipe/{{recipe.id}}">{{recipe.name}}</a></h5>
                                <p class="card-text">{{recipe.description}}</p>
                                <p>Created by {{recipe.user.name}} on {{format_date recipe.date_created}}</p>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="trending-box p-4 lightcolbg border rounded">
                <h3 class="mb-3 textcol">Join us!</h3>
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <div class="card">
                            <img class="card-img-top" src="https://media.licdn.com/dms/image/C4E22AQGlJ5P8Tf3eKA/feedshare-shrink_2048_1536/0/1658411128304?e=1694044800&v=beta&t=y8y99pFmw7WCc0_NnhUEtLfaPt_7xS2IVIt-MiyPdqo" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title"><a href="/sample-link">Visit our sponsor</a></h5>
                                <p class="card-text">More information coming soon.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




