
{{#each recipes as |recipe| }}

    <div class="container col-md-12 mb-4 recipe">
                    <div class="row">
                        <div class="col-md-2 "><img class="slideImg" src="{{recipe.link_to_image}}"></img></div>
                        <div class="col-md-10">
                            <h2><a href="/recipe/{{recipe.id}}">{{recipe.name}}</a></h2>
                            <p>Created by {{recipe.user.name}} on {{format_date recipe.date_created}}</p>
                            <p>{{recipe.description}}</p>
                        </div>
                    </div>
    </div>
{{/each}}