<!-- Loop over each object in the recipes array -->
{{#each recipes as |recipe| }}
    <div class="container">
        {{!-- <div class="slideshow-container"> --}}
            {{!-- <div class="slides fade"> --}}
                {{!-- <div class="numbertext">1 / 3</div> --}}
                <img class="slideImg" src="./images/pastry.jpg"> {{!--make connection currently using placeholder img--}}
                <div class="col-md-12 mb-4 recipe">
                <div class="display-flex justify-space-between">
                    <h2>
                    <a href="/recipe/{{recipe.id}}">{{recipe.name}}</a>
                    </h2>
                    <p>Created by {{recipe.user.name}} on {{format_date recipe.date_created}}</p>
                </div>
                <div >
                    <p>
                    {{recipe.description}}
                    </p>
                </div>
            </div>

            {{!-- </div> --}}


            {{!-- <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a> --}}
        {{!-- </div>
        <br> --}}

        {{!-- <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span> 
            <span class="dot" onclick="currentSlide(2)"></span> 
            <span class="dot" onclick="currentSlide(3)"></span> 
        </div> --}}
    </div>
{{/each}}
