<div class="row">
    <div class="col-md-8">
        <div class="cardContainer darkcolbg shadowww border rounded col-md-10">
        <div class="meal-wrapper p-2">        
            <div class="cardMeal-search">
                <h3 class="cardTitle lighttextcol fst-italic" style="margin-top: 5px; margin-left: 10px;">Welcome, {{name}}!</h3>
            </div>
        </div>
    </div>
</div>

<div class="container py-4">
    <div class="row">
        <div class="col-md-8">
            <div class="trending-box lightcolbg shadowww p-4 border rounded">
                <h3 class="mb-3 fst-italic textcol">Your Recipes</h3>
                <div class="row">
                    {{#if recipes.length}}
                    {{#each recipes as |recipe| }}
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <img class="card-img-top" src="{{recipe.link_to_image}}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title"><a href="/recipe/{{recipe.id}}">{{recipe.name}}</a></h5>
                                <p class="card-text">{{recipe.description}}</p>
                                <p>Created by {{recipe.user.name}} on {{format_date recipe.date_created}}</p>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>

