<style>
  #add-comment-btn {
   border: none;  
}
#add-comment-btn:hover {
    background-color: rgb(207, 207, 196);
    border: none;
    color: black;
}
  .btn-custom {
  background-color: transparent;
  border: none;
  color: #e57373; /* Your desired text color */
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
  cursor: pointer;
}
</style>

<div>
  <div class="recipe">
    <input type="hidden" name="recipe-id" id="recipe-id" value="{{id}}" />
    <div class="col-md-10 mb-2 mt-3">
      <div class="card h-100">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <img class="card-img-top" src="{{link_to_image}}" alt="Card image cap">
            </div>
            <div class="col-md-8">
              <h5 class="card-title"><a href="/recipe/{{id}}">{{name}}</a></h5>
              <p class="card-text">{{description}}</p>
              <p>Ingredients:</p>
              <p class="card-text-ingredients" style="white-space: pre-wrap;">{{ingredients}}</p>
              <p>Instructions:</p>
              <p class="card-text-instructions" style="white-space: pre-wrap;">{{instructions}}</p>
              <p>Created by {{user.name}} on {{format_date date_created}}</p>
              <p>Recipe link: <a href="{{link_to_recipe}}"><strong>{{link_to_recipe}}</strong></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row d-flex">
  <div class="col-md-8 col-lg-6">
    <div class="card shadow-0 border" style="background-color: white">
      <div class="card-body p-4">

            <form class="form new-comment-form mb-4">
              <div class="form group">
                  <input type="text" id="comment-content" class="form-control" placeholder="Type comment..." />
              </div>
              <div class="form-group">
                  {{#if logged_in}}
                    <button type="submit" class="btn btn-primary darkbordcol darkcolbg submit-button" id="add-comment-btn">Add comment</button>
                  {{else}}
                    <button type="submit" class="btn btn-primary darkbordcol darkcolbg submit-button" id="add-comment-btn" disabled>Add comment</button>
                    <p>Login to add comments</p>
                  {{/if}}
              </div>
            </form> 
          {{#each comments as |comment| }}
            <div class="card mb-4">
              <div class="card-body">
                <p>{{comment.content}}</p>
                <div class="d-flex justify-content-between">
                  <div class="d-flex flex-row align-items-center">
                    <p class="small mb-0 ms-2">~ {{comment.user.name}} on {{format_date comment.date_created}}</p>
                  </div>
                </div>
              </div>
            </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

  <script src="../js/addComment.js"></script> 

