<div class="page-title-container">
<h1 class="page-title p-2">Recipe details</h1>
</div>
<div class="recipe">
  <input type="hidden" name="recipe-id" id="recipe-id" value="{{id}}"/>
  <div class="display-flex justify-space-between recipe-header">
    <h2>{{name}}</h2>
    <p class="recipe-byline">Created by {{user.name}} on {{format_date date_created}}</p>
  </div>
  <div class="descrip">
    <p>{{description}}</p>
  </div>
</div>

<div class="comment-list-title">
    <p><strong>COMMENTS:</strong></p>
</div>
<!-- Loop over each object in the comments array -->
{{#each comments as |comment| }}
<div class="comment-container">
  <div class="flex-column justify-space-between">
    <p>{{comment.content}}</p>
    <p>~ {{comment.user.name}} on {{format_date comment.date_created}}</p>
  </div>
</div>
{{/each}}

<form class="form new-comment-form">
  <div class="form-group">
    <label for="comment-content">New Comment</label>
    <textarea class="form-input" id="comment-content" name="comment-content"></textarea>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary submit-button">Add comment</button>
  </div>
</form>

<script src="../js/addComment.js"></script>
